<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Bank of Simba</title>
</head>
<body>
<form method="POST" action="/raisebalance">
    <label for="name">Name</label>
    <select name="name" id="name">
        <option th:each="bankAccount :${bankAccounts}" th:text="${bankAccount.name}"></option>
    </select>
    <button>Submit</button>
</form>
<a href="/list">
    <button>To Accounts</button>
</a>
</body>
</html>