<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>cheat</title>
</head>
<body>

<h1>and now</h1>
<table>
    <tr>
        <td th:text="${reddit.post}"></td>
</table>
<form method="post">
    <table>
        <tr>
            <form method="post" th:action="|/cheat/${reddit.id}|">
                <td>
                    <input class="link-button" type="submit" name="vote" value="+">
                </td>
                <label for="amount">plez enter desired amount</label>
                <input type="number" id="amount" name="amountToChangeTheScoreWith">
                <td>
                    <input class="link-button" type="submit" name="vote" value="-">
                </td>
            </form>
        </tr>
    </table>
</form>
</body>
</html>