<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>cheat</title>
</head>
<body>

<h1>and now</h1>
<table>
    <tr>
        <td th:text="${reddit.amountOfVotes}"></td>
        <td th:text="${reddit.post}"></td>
        <td th:text="${reddit.id}"></td>
</table>
<!--<form th:action="/cheat" method="POST">-->
<form >
    <label for="amount">plez enter desired amount</label>
    <input type="number" id="amount" name="amountToChangeTheScoreWith">

    <button th:formaction="'/cheat/addtoscore?id='+${reddit.id}" method="post" type="submit">add votes</button>
    <button th:formaction="'/cheat/takefromscore?id='+${reddit.id}" method="post" type="submit">take votes</button>

</form>
</body>
</html>
<!--formaction="/cheat/addtoscore"-->
<!--formaction="/cheat/takefromscore"-->