<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <title>Fox Club</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<ul><li><a href="">information</a></li></ul>
<img src="greenfox.png" alt="come on">
<h3>This is    Currently living on Pizza and Lemonade. He knows two tricks.</h3>


<p th:text="${name}"></p>
<h2>Known Tricks</h2>

<ul>
    <li>write HTML</li>
    <li>code in Java</li>
</ul>
</body>
</html>